@{ 
    int Code = Convert.ToInt32(ViewBag.code);
}
<div style="margin-top:5%">
    @using (Html.BeginForm("deletepost", "Home", FormMethod.Post, new { role = "form" }))
    {
        <input type="number" name="id" value="" class="form-control" placeholder="Enter the id to be deleted" />
        <button type="submit" class="btn btn-warning pull-left"><i class="icon-menu2"></i>Delete Data</button>
    }
</div>
<div>
    @if(Code==200)
    {
<p>Deleted Successfully</p>
    }
    else if(Code==201)
    {
        <p>Created Successfully</p>
    }
</div>
