@{
    int Code = Convert.ToInt32(Session["Se"]);
}
<div style="margin-top:5%">
    @using (Html.BeginForm("deletepost", "Home", FormMethod.Post, new { role = "form" }))
    {
        <input type="number" name="id" value="" class="form-control" placeholder="Enter the id to be deleted" />
        <button type="submit" class="btn btn-warning pull-left"><i class="icon-menu2"></i>Delete Data</button>
    }
</div>

<div style="margin-top:15%">
    @if (Code == 200)
    {
        <p>@Code: Deleted Successfully</p>
    }
    else if (Code == 201)
    {
        <p>@Code: Created Successfully</p>
    }
</div>