@model WebApplication1.Models.Data
    @{ 
        int Code = Convert.ToInt32(ViewBag.code);
    }
<style>
    td, th {
        border: 1px solid #111;
        padding: 6px;
    }

    th {
        font-weight: 700;
    }

        th a.sort-by {
            padding-right: 18px;
            position: relative;
        }

    a.sort-by:before,
    a.sort-by:after {
        border: 4px solid transparent;
        content: "";
        display: block;
        height: 0;
        right: 5px;
        top: 50%;
        position: absolute;
        width: 0;
    }

    a.sort-by:before {
        border-bottom-color: #666;
        margin-top: -9px;
    }

    a.sort-by:after {
        border-top-color: #666;
        margin-top: 1px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div style="margin-top:5%">
    @using (Html.BeginForm("postsid", "Home", FormMethod.Post, new { role = "form" }))
    {
        <input type="number" name="id" value="" class="form-control" placeholder="Enter the id to be searched" />
        <button type="submit" class="btn btn-warning pull-left"><i class="icon-menu2"></i>Get Data</button>
    }
</div>
@if (Code == 200)
{
<div class="form-group pull-right" style="margin-top:5%">
    
</div>
<table class="table table-striped" id="userTbl"style="margin-top:5%">
    <thead>
        <tr style="background-color:aquamarine">
            <th style="text-align:center">UserId</th>
            <th style="text-align:center">Id</th>
            <th scope="col" style="text-align:center">Title</th>
            <th style="text-align:center">Body</th>
        </tr>
    </thead>
    <tbody class="searchable">
       
            <tr>
                <td>@Model.userId</td>
                <td>@Model.id</td>
                <td>@Model.title</td>
                <td id="tt">@Model.body</td>
            </tr>
        

    </tbody>
</table>
}
else
{
    <div class="form-group pull-right" style="margin-top:5%">

    </div>
    <table class="table table-striped" id="userTbl" style="margin-top:5%">
        <thead>
            <tr style="background-color:aquamarine">
                <th style="text-align:center">UserId</th>
                <th style="text-align:center">Id</th>
                <th scope="col" style="text-align:center">Title</th>
                <th style="text-align:center">Body</th>
            </tr>
        </thead>
        <tbody class="searchable">

            <tr>
                <td colspan="4">Not-Found</td>
                            </tr>


        </tbody>
    </table>
}
